/.DS_Store
package-lock.json
hs_err_pid*
**/.gitignore/
*.iml
*/target
**/target
node_modules
.tmp
.sass-cache
.idea
.project
/target
/logs
**/logs/
.DS_Store
.templateCache
_notes
npm-debug.log
**/desktop/crawl_result
**/mobile/crawl_result
_config.yml
CodingwithJava.iml
.classpath
.factorypath
.settings/
.vscode/